.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(3, 1fr);
}

.sidebar {
    grid-area: 1/1/4/2;
    background-color: lightblue;
    color: white;
    font-size: 3rem;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
}

.header {
    grid-column: 2/3;
}

.main-content {
    grid-area: 2/2/4/3;
}

ul {
    list-style-type: none;
}

.options > ul > li > a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight: 500;
}